<!DOCTYPE html>
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>砂浆罐监控系统</title>

    <base href="${request.scheme}://${request.serverName}:${request.serverPort}${rc.contextPath}/" >
    <script>
        var basePath = "${request.scheme}://${request.serverName}:${request.serverPort}${rc.contextPath}";
        var contextPath = "${rc.contextPath}";
    </script>

##    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${rc.contextPath}/media/css/themes/default/jquery.mobile.theme-1.4.0.min.css">
##    <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
##    <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    <script src="${rc.contextPath}/media/js/jquery.js"/>
    <script src="${rc.contextPath}/media/js/jquery.mobile-1.4.0.js"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VCR1lTtWzfsvnu3FdNetnjx8qT6r5ri4"></script>

    ##jQuery 1.11.2
    ##toastr
##    <link rel="stylesheet" type="text/css" href="${rc.contextPath}/media/extjs/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="${rc.contextPath}/media/css/omiphane.css">
    <script type="text/javascript" src="${rc.contextPath}/media/app/jquery.js"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/extjs/ext.js"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/extjs/ext-all-debug.js"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/extjs/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/media/app/utils/jshashtable.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/media/app/utils/jshashtable_src.js"></script>

    <script type="text/javascript" src="${rc.contextPath}/media/app/gps/gps.js"/>


    <!--引入百度api-->
##    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=C09c918bbe0b24d988da51a15644d98a"></script>
##    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2028c3076245ea17fd1ad6819f3e0543"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/app/MapInfo.js"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/app/js/GlobalInfo.js"></script>
##
##    <script type="text/javascript" src="${rc.contextPath}/media/app/utils/datetime/UX_TimePickerField.js"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/app/utils/datetime/UX_DateTimePicker.js"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/app/utils/datetime/UX_DateTimeMenu.js"></script>
##    <script type="text/javascript" src="${rc.contextPath}/media/app/utils/datetime/UX_DateTimeField.js"></script>


</head>

<body>

<div>
    #parse('/layout/head.vm')
</div>

<div>
    <div >
        <div  id="pageContext">
            $screen_content
        </div>
    </div>
</div>
    #parse('/layout/footer.vm')
</body>
</html>