<div class="pagination">
    <a href="#" class="first" data-action="first">&laquo;</a>
    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
    <input type="text" readonly="readonly" data-max-page="$!{paginator.pages}"/>
    <a href="#" class="next" data-action="next">&rsaquo;</a>
    <a href="#" class="last" data-action="last">&raquo;</a>
</div>

###if($paginator)
##    #set($beginIndex= $!{paginator.getBeginIndex()} + 1)
##<div class="span5">
##    显示第 $beginIndex - $paginator.getEndIndex()条记录，共 $paginator.getItems() 条记录
##</div>
##<div class="span6">
##    <div class="dataTables_paginate paging_bootstrap pagination">
##        <ul>
##            #if($paginator.getPage() == 1 || $paginator.getPages() == 0)
##                <li class="disabled"><a href="#" class="icon-step-backward"></a></li>
##                <li class="disabled"><a href="#" class="icon-arrow-left"></a></li>
##            #else
##                <li><a href="#" rel="1" class="icon-step-backward"></a></li>
##                <li><a href="#" rel="$paginator.getPreviousPage()" class="icon-arrow-left"></a></li>
##            #end
##
##            #set($sliders = $paginator.getSlider(7))
##            #if($sliders)
##                #foreach($slider in $sliders)
##                    #if($paginator.isDisabledPage($slider))
##                        <li class="active"><a href="#">$slider</a></li>
##                    #else
##                        <li><a href="#" rel="$slider">$slider</a></li>
##                    #end
##                #end
##            #end
##
##            #if($paginator.getPage() != $paginator.getPages())
##                <li><a href="#" rel="$paginator.getNextPage()" class="icon-arrow-right"></a>
##                </li>
##                <li><a href="#" rel="$paginator.getPages()" class="icon-step-forward"></a>
##                </li>
##            #else
##                <li class="disabled"><a href="#" class="icon-arrow-right"></a></li>
##                <li class="disabled"><a href="#" class="icon-step-forward"></a></li>
##            #end
##            <li>
##                <input style="width: 20px;" maxlength="10" type="text" value="$paginator.getPage()">
##            </li>
##            <li>
##                <button id="go" rel="$paginator.getPages()" class="btn blue" style="margin:-6px 0px 0px 0px;"><i class="icon-share-alt"></i></button>GO
##            </li>
##        </ul>
##    </div>
##</div>
##<script type="text/javascript">
##    var form = jQuery("#mainForm");
##    //绑定每页点击方法
##    form.on("click", "ul li a", function (e) {
##        e.preventDefault();
##        jQuery("#page").val(jQuery(this).text());
##        form.submit();
##    });
##    //跳转页面
##    jQuery("#go").click(function (e) {
##        e.preventDefault();
##        var text = jQuery(".pagination input");
##        var num = parseInt(text.val());
##        var pages = parseInt(jQuery(this).attr("rel"));
##        if (!num || num < 0 || (pages && (num > pages))) {
##            alert("请选择正确的页码!");
##        }
##        text.focus();
##    });
##</script>
###end
